DEBUG=True
SECRET_KEY=your-secret-key-here

DATABASE_URL=postgresql://user:password@localhost:5432/getsongs

FRONTEND_BASE_URL=http://localhost:3000

MEILI_URL=http://localhost:7700
MEILI_MASTER_KEY=your-meili-master-key

EMAIL_HOST_USER=no-reply@yourdomain.com
EMAIL_HOST_PASSWORD=your-resend-api-key

SENTRY_DSN=
