{% extends 'base/base.html' %}

{% block head_title %} - Sobre{% endblock head_title %}

{% block content %}
<h1>Sobre</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur non officia voluptas quas vero. Porro cum perspiciatis, modi nobis aspernatur quasi assumenda adipisci, omnis, excepturi nisi velit voluptatibus accusamus corporis.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur non officia voluptas quas vero. Porro cum perspiciatis, modi nobis aspernatur quasi assumenda adipisci, omnis, excepturi nisi velit voluptatibus accusamus corporis.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur non officia voluptas quas vero. Porro cum perspiciatis, modi nobis aspernatur quasi assumenda adipisci, omnis, excepturi nisi velit voluptatibus accusamus corporis.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur non officia voluptas quas vero. Porro cum perspiciatis, modi nobis aspernatur quasi assumenda adipisci, omnis, excepturi nisi velit voluptatibus accusamus corporis.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur non officia voluptas quas vero. Porro cum perspiciatis, modi nobis aspernatur quasi assumenda adipisci, omnis, excepturi nisi velit voluptatibus accusamus corporis.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur non officia voluptas quas vero. Porro cum perspiciatis, modi nobis aspernatur quasi assumenda adipisci, omnis, excepturi nisi velit voluptatibus accusamus corporis.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur non officia voluptas quas vero. Porro cum perspiciatis, modi nobis aspernatur quasi assumenda adipisci, omnis, excepturi nisi velit voluptatibus accusamus corporis.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur non officia voluptas quas vero. Porro cum perspiciatis, modi nobis aspernatur quasi assumenda adipisci, omnis, excepturi nisi velit voluptatibus accusamus corporis.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur non officia voluptas quas vero. Porro cum perspiciatis, modi nobis aspernatur quasi assumenda adipisci, omnis, excepturi nisi velit voluptatibus accusamus corporis.</p>
{% endblock content %}