{% extends 'base/base.html' %}

{% block head_title %} - Sobre{% endblock head_title %}

{% block content %}
<h1>Sobre</h1>

<p>
    O GetSongs foi criado com a intenção de tornar a montagem de hinários mais fácil e rápida. A ideia surgiu a partir da experiência do seu criador, <a href="https://www.linkedin.com/in/lucas-rocha-8b6655216/">Lucas Rocha</a>, em igrejas e outras organizações religiosas, onde era comum encontrar dificuldades para criar hinários personalizados para eventos, missas, entre outros. Além disso, com a ajuda da tecnologia, o GetSongs foi desenvolvido com uma abordagem inovadora para a montagem de hinários, com foco na praticidade e facilidade de uso, já que convencionalmente todo o processo para a confecção destes hinários é manual.
</p>

<p>
    Para criar a aplicação, foram utilizados o framework <a href="https://www.djangoproject.com/">Django</a> e <a href="https://www.django-rest-framework.org/">Django REST Framework</a> para construção do <em>back-end</em> e <a href="https://getbootstrap.com/">Bootstrap 4</a> para o <em>front-end</em>. Django é um framework em <a href="https://www.python.org/">Python</a>, conhecido por sua facilidade de uso, segurança e escalabilidade, sendo amplamente utilizado no desenvolvimento web. Já o Bootstrap é um framework front-end que permite a criação de interfaces responsivas e elegantes, com uma ampla variedade de recursos e componentes.
</p>
    
<p>
    Em resumo, o GetSongs é o resultado do trabalho e dedicação do seu criador como primeiro projetogit <em>full-stack</em>, tornando a montagem de hinários mais fácil e acessível para todos. Com tecnologias confiáveis e modernas, a plataforma oferece uma solução inovadora para a criação de hinários personalizados para eventos religiosos e outras ocasiões.
</p>

{% endblock content %}