{% extends 'base/base.html' %}

{% block head_title %} - Contato{% endblock head_title %}

{% block content %}

<h1>Entre em contato conosco</h1>

<p>
    Se você tem alguma dúvida ou sugestão, por favor, entre em contato conosco preenchendo o formulário abaixo:
</p>

<form method="POST" class="form"> {% csrf_token %}
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" class="form-control" name="nome" required 
        {% if request.user.is_authenticated %}value="{{request.user.first_name}} {{request.user.last_name}}"{% endif %}>
    </div>
    <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" id="email" class="form-control" name="email" required
        {% if request.user.is_authenticated %}value="{{request.user.email}}"{% endif %}>
    </div>
    <div class="form-group">
        <label for="mensagem">Mensagem:</label><br>
        <textarea id="mensagem" class="form-control" name="mensagem" required></textarea>
    </div>
    <input type="submit" value="Enviar">
</form>


{% endblock content %}