{% extends 'base/base.html' %}

{% load static %}

{% block head_title %} - {{hymnary.title}}{% endblock head_title %}

{% block content %}
{% if hymnary is not None %}
<h1>{{hymnary.title}}</h1>
<p>Criado em {{hymnary.created_at}}</p>
<div class="editing">
    <div>
        <label for="new-title">Mudar título:</label>
        <input type="text" id="new-title" name="new-title" class="form-control" value="{{hymnary.title}}">
    </div>
    <div>
        <input type="checkbox" name="print-category" id="print-category"
        {% if hymnary.print_category %}checked{% endif %}>
        <label for="print-category">Exibir categoria</label>
    </div>
    <div>
        <label for="template">Modelo: </label>
        <select name="template" id="template" class="form-select form-select-sm">
            {% for template, verbose in templates %}
            <option value="{{template}}"
            {% if hymnary.template == template %}selected{% endif %}
            >{{verbose}}</option>
            {% endfor %}
        </select>
    </div>
    <table class="table table-striped">
        <thead class="bg-dark text-light">
            <td>Categoria</td>
            <td>Nome</td>
            <td>Artista</td>
        </thead>
        <tbody id="songs_list">
            {% for item in hymnary.hymnary_songs.all %}
            <tr class="song_item" draggable="True">
                <td>{{ item.song.category }}</td>
                <td>{{ item.song.name }}</td>
                <td>{{ item.song.artist }}</td>
                <input type="hidden" class="song_id" value="{{item.song.id}}">
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="pop-up list-group" hidden>
    <h3>Adicionar música:</h3>
    <div style="display: flex;">
        <div style="flex-grow: 1;">
            <div class="list-group-item">
                <label for="category">Categoria</label>
                <select name="category" id="select-category">
                    <option value="">---</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="list-group-item">
                <label for="song">Música</label>
                <select name="song" id="select-song">
                    <option value="">---</option>
                </select>
            </div>
        </div>
        {% comment %} <div class="list-group-item" style="display: flex; flex-direction: column; align-items: center; justify-content: center;"> {% endcomment %}
        <div class="list-group-item">
            <iframe id="song-preview" src="" width="100%" height="100%" frameBorder="0" allowfullscreen="" 
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
    </div>
    <button class="btn btn-primary" onclick="appendSong()">Adicionar</button>
</div>

<div class="buttons">
    <input type="button" class="btn btn-primary" value="Adicionar" onclick="togglePopUp()">
    <input type="button" class="btn btn-danger" value="Remover" onclick="removeSong()">
    <input type="button" class="btn btn-success" value="Salvar" onclick="saveHymnary()">
</div>
{% else %}
<h1>Ops, sinto muito, não conseguimos encontrar este hinário! :(</h1>
{% endif %}

<script src="{% static 'scripts/edit_hymnary/drag_and_drop.js' %}"></script>
<script src="{% static 'scripts/edit_hymnary/button_actions.js' %}"></script>
<script src="{% static 'scripts/edit_hymnary/filter_select.js' %}"></script>
{% endblock content %}