name: Django CI

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11]

    services:
      postgres:
        image: postgres:15.0
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports: 
          - "5432:5432"
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

      meilisearch:
        image: getmeili/meilisearch:v1.9.0
        ports:
          - "7700:7700"
        env:
          MEILI_MASTER_KEY: "meilimasterkey"
          MEILI_NO_ANALYTICS: true

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --no-cache-dir poetry
          poetry install

      - name: Run Tests
        env:
          SECRET_KEY: "69tgugtg%^fgJO&*^"
          DEBUG: False
          DATABASE_URL: "postgres://postgres:postgres@localhost:5432/postgres"
          FRONTEND_BASE_URL: "http://localhost:3000"
          EMAIL_HOST: ""
          EMAIL_PORT: ""
          EMAIL_HOST_USER: ""
          EMAIL_HOST_PASSWORD: ""
          MEILI_URL: "http://localhost:7700"
          MEILI_MASTER_KEY: "meilimasterkey"
        run: |
          poetry run python manage.py test

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-test
    if: ${{ github.event_name == 'push' and github.base_ref == 'main' }}
    steps:
      - name: Install Railway
        if: ${{  }}
        run: bash <(curl -fsSL cli.new)

      - name: Deploy
        if: ${{ github
        run: railway up --service API
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
